<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
 	<!-- 日志生成路径 -->
	<property name="LOG_HOME" value="../logs/" />
	<!-- 项目名 -->
	<property name="PROJECT_NAME" value="exception" />

	<!-- 控制台输出-->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%F/%L] %-5level - %msg%n</Pattern>
		</layout>
	</appender>
  
	<!-- 按照每天生成日志文件 -->  
	<appender name="DATELOG" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		<Prudent>true</Prudent>  
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<FileNamePattern>${LOG_HOME}/${PROJECT_NAME}.%d{yyyy-MM-dd}.log</FileNamePattern>  
			<MaxHistory>90</MaxHistory>    
		</rollingPolicy>  
		<layout class="ch.qos.logback.classic.PatternLayout">  
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%F/%L] %-5level - %msg%n</pattern>  
		</layout>
	</appender>
	 
	<!-- 按照每天生成日志文件   错误信息 -->  
	<appender name="DATELOG_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">  
		<Prudent>true</Prudent>
		<filter class="ch.qos.logback.classic.filter.LevelFilter"> 
			<level>ERROR</level> 
			<onMatch>ACCEPT</onMatch> 
			<onMismatch>DENY</onMismatch> 
		</filter>   
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
			<FileNamePattern>${LOG_HOME}/${PROJECT_NAME}.%d{yyyy-MM-dd}.error.log</FileNamePattern>  
			<MaxHistory>90</MaxHistory>    
		</rollingPolicy>  
		<layout class="ch.qos.logback.classic.PatternLayout">  
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%F/%L] %-5level - %msg%n</pattern>  
		</layout>  
	</appender> 

	<logger name="site.exception" additivity="false" level="DEBUG">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="DATELOG"/>
		<appender-ref ref="DATELOG_ERROR"/>
	</logger>
	
</configuration>
