@CHARSET "UTF-8";

.sub-article-meta {
    color: #999;
    font-size: 12px;
}

.sub-article-body {
    margin-top: 10px;
}

.main .sub-article-header .m-page-header {
    margin-bottom: 10px;
}

.article-priview {
    padding: 14px 0 13px 0;
    border-bottom: 1px solid #e4e6e8;
}

.article-title a {
    font-size: 16px;
    text-decoration: none;
    color: #07C;
}

.article-title a:hover {
    color: #439fe1;
}

.article-title .article-operate-container a:hover, a:focus {
    color: #23527c;
}

.nav-pagination {
    margin-top: 40px;
}

.main .col-md-container {
    /*padding-left: 24px;*/
     	padding-right: 10px;
}

.main .col-md-container a {
    font-size: 12px;
}

.main .m-panel-margin {
    margin-top: 20px;
}

.main .m-panel {
    border-radius: 1px;
}

.main .m-panel h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .article-editor {
    margin-left: 10px;
}

.main .m-panel p {
    margin-bottom: 0;
}

.main .m-panel-heading {
    padding: 1px 10px;
    font: bold 12px/30px Arial;
}

.main .m-panel-body {
    padding: 5px 10px;
}

.left-col-md ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.main .user {
    text-align: center;
}

.main .user .user-name {
    padding-bottom: 10px;
    /*margin: 20px 0 20px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    border-bottom: 1px solid #eee;
    line-height: 1.1;
    font-size: 1.5em;
}

.main .no-border {
    border: 0;
}

.main .profile-img {
    width: 164px;
    height: 164px;
    border-radius: 2px;
}

.main .avatar-container {
    box-shadow: inset 0 130px 0 #e7e8ea;
    padding: 27px;
    padding-bottom: 15px;
}

.main .m-btn-success {
    color: #07c;
    background-color: rgba(0, 119, 204, 0);
    border: 1px solid #0095ff;
    box-shadow: none;
    margin-top: 10px;
}

.main .load-more {
    color: #2A90D7;
    background-color: #E1ECF4;
    border: 1px solid rgba(41, 144, 215, .5);
    box-shadow: none;
    margin-top: 25px;
    padding: 10px;
}

.main .load-more:hover {
    background-color: #c4ddee;
}

.main .m-btn-success:hover {
    color: #07c;
    background-color: #cae8fe;
    border: 1px solid #0095ff;
    box-shadow: none;
    text-decoration: none;
}


