@CHARSET "UTF-8";

.sub-article-meta {
    color: #999;
    font-size: 12px;
}

.sub-article-body {
    margin-top: 10px;
}

.main .sub-article-header .m-page-header {
    margin-bottom: 10px;
}

.article-priview-next {
    margin-top: 80px;
}

.nav-pagination {
    margin-top: 40px;
}

.main .col-md-container {
    padding-left: 24px;
    /* 	padding-right: 12px; */
}

.main .col-md-container a {
    font-size: 12px;
}

.main .m-panel-margin {
    margin-top: 20px;
}

.main .m-panel {
    border-radius: 0;
}

.main .m-panel h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main .article-editor {
    margin-left: 10px;
}

.main .m-panel p {
    margin-bottom: 0;
}

.main .m-panel-heading {
    padding: 1px 10px;
    font: bold 12px/30px Arial;
}

.main .m-panel-body {
    padding: 5px 10px;
}

.right-col-md ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.main .user {
    text-align: center;
}

.main .no-border {
    border: 0;
}

.main .profile-img {
    /* 	height: 100px; */
}

.main .article-title a {
    color: #242729;
}

.main .m-btn-success {
    color: #07c;
    background-color: rgba(0, 119, 204, 0);
    border: 1px solid #0095ff;
    box-shadow: none;
    margin-top: 10px;
}

.main .load-more {
    color: #2A90D7;
    background-color: #E1ECF4;
    border: 1px solid rgba(41, 144, 215, .5);
    box-shadow: none;
    margin-top: 25px;
    padding: 10px;
}

.main .load-more:hover {
    background-color: #c4ddee;
}

.main .m-btn-success:hover {
    color: #07c;
    background-color: #cae8fe;
    border: 1px solid #0095ff;
    box-shadow: none;
    text-decoration: none;
}

