body {
    background-color: White;
    /*font-family: sans-serif;*/
}

/*blockquote {*/
/*!*border-left: 2px dotted #888;*!*/
/*padding-left: 5px;*/
/*!*background: #d0f0ff;*!*/
/*}*/

.wmd-panel {
    /*margin-left: 25%;*/
    /*margin-right: 25%;*/
    /*width: 50%;*/
    /*min-width: 500px;*/
}

.wmd-button-bar {
    width: 100%;
    height: 44px;
    clear: both;
    background-color: transparent;
    padding: 0 5px;
    box-sizing: border-box;
    float: left;
    border: 1px solid #c8ccd0;
    border-bottom: 0;
}

.wmd-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #c8ccd0;
    outline: none;
    resize: none;
    height: calc(100vh);
    overflow: auto;
    background: #f8f8f8;
}

.wmd-input:focus {
    border: 1px solid #07C;
}

.wmd-preview {
    height: calc(100vh);
    overflow: auto;
}

.back-to-home {
    color: #07C;
    background-color: rgba(0,119,204,0);
    box-shadow: none;
    padding: 7px 1em;
    border-radius: 2px;
    border: 1px solid transparent;
    margin-top: 10px;
}

.back-to-home:hover {
    text-decoration: none;
    background-color: #E1ECF4;
}

.preview-header {
    height: 44px;
    border-top: 1px solid #c8ccd0;
    border-right: 1px solid #c8ccd0;
    margin-top: 42px;
}

.preview-header h4 {
    height: 44px;
    line-height: 44px;
    margin: 0;
    padding-left: 10px;
    font-weight: 600;
}

.m-wmd-preview {
    border: 1px solid #c8ccd0;
    border-left: 0;
    padding: 10px;
}

.wmd-button-row {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 12px;
    padding: 0px;
    height: 20px;
}

.wmd-spacer {
    width: 1px;
    height: 20px;
    margin-left: 14px;
    position: absolute;
    background-color: Silver;
    display: inline-block;
    list-style: none;
}

.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

/*.wmd-button > span {*/
/*background-image: url(../../wmd-buttons.png);*/
/*background-repeat: no-repeat;*/
/*background-position: 0px 0px;*/
/*width: 20px;*/
/*height: 20px;*/
/*display: inline-block;*/
/*}*/

.wmd-button > span {
    background: url('/images/wmd-buttons.svg?v=063c0288e422') no-repeat 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.wmd-spacer1 {
    left: 50px;
}

.wmd-spacer2 {
    left: 175px;
}

.wmd-spacer3 {
    left: 300px;
}

.wmd-prompt-background {
    background-color: Black;
}

.wmd-prompt-dialog {
    border: 1px solid #999999;
    background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}

.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}

.wmd-prompt-dialog > form > input[type="button"] {
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

.writer-left-container {
    padding: 0;
}

.writer-right-container {
    padding: 0;
}

.m-btn-upload {
    margin: 4px;
}


